<%= form_with(model: club, local: true) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :Founded %><br>
    <%= form.text_field :date_of_establishment %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
