  <p id="notice"><%= notice %></p>

  <h1><%= @club.name %></h1>
  <h3><%= @club.location %></h3>
  <h4><%= @club.date_of_establishment %></h4>
  <h1>Players</h1>
  <p>




  <p>
  <%= link_to 'Edit', edit_club_path(@club) %> |
  <%= link_to 'Back', clubs_path %>
