  <p id="notice"><%= notice %></p>
<div class= "centre">
  <h1><%= @club.name %></h1>
  <h3>Location: <%= @club.location %></h3>
  <h4>Founded: <%= @club.date_of_establishment %></h4>
  <h1>Players</h1>
</div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Nationality</th>
        <th scope="col">Position</th>
        <th scope="col">Age</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
      <tr>
        <th scope="row"><%= player.firstName %> <%= player.lastName %></th>
        <td><%= player.nationality %></td>
        <td><%= player.position %></td>
        <td><%= player.age %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %>
      <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<div class="comments">
  <h3> Comments </h3>

  <% @club.comments.each do |comment| %>
    <tr>
      <h4><%= comment.username %></h4>
      <p><%= comment.body %> </p>


    </tr>
  <% end %>
  <h3>Add Comment</h3>
  <%= form_for([@club, @club.comments.build]) do |form| %>
  <p>
  <%= form.label :Username %><br>
  <%= form.text_field :username %>
</p>

<p>
  <%= form.label :Post %><br>
  <%= form.text_field :body %>
</p>


<div class="actions">
  <%= form.submit %>
</div>
  <% end %>
  </div>
  <%= link_to 'Back', clubs_path %>
